In [1]:
import pandas as pd

def isNaN(x):
    return x != x

data1 = pd.read_csv("IDCJAC0009_070014_1800_Data.csv")
data1 = data1[(data1["Quality"] == "Y") | (data1["Quality"] == "N")]
data1.to_csv("old_rain.csv")
data2 = pd.read_csv("IDCJAC0010_070014_1800_Data.csv")
data2 = data2[(data2["Quality"] == "Y") | (data2["Quality"] == "N")]
data2.to_csv("old_temp.csv")
data3 = pd.read_csv("IDCJAC0009_070351_1800_Data.csv")
data3 = data3[(data3["Quality"] == "Y") | (data3["Quality"] == "N")]
data3.to_csv("new_rain.csv")
data4 = pd.read_csv("IDCJAC0010_070351_1800_Data.csv")
data4 = data4[(data4["Quality"] == "Y") | (data4["Quality"] == "N")]
data4.to_csv("new_temp.csv")

climate_data = pd.DataFrame(columns={"rainfall", "max_temp"})

for i, row in data1.iterrows():
    date = f"{row.Year}-{str(row.Month).zfill(2)}-{str(row.Day).zfill(2)}"
    date = pd.to_datetime(date, format="%Y-%m-%d")
    climate_data.loc[date, "rainfall"] = row["Rainfall amount (millimetres)"]
    if i % 1000 == 0:
        print(f"{(i + 1) / (len(data1)) * 100: .1f}% of old rain data processed")

for i, row in data2.iterrows():
    date = f"{row.Year}-{str(row.Month).zfill(2)}-{str(row.Day).zfill(2)}"
    date = pd.to_datetime(date, format="%Y-%m-%d")
    climate_data.loc[date, "max_temp"] = row["Maximum temperature (Degree C)"]
    if i % 1000 == 0:
        print(f"{(i + 1) / (len(data2)) * 100: .1f}% of old temperature data processed")

for i, row in data3.iterrows():
    date = f"{row.Year}-{str(row.Month).zfill(2)}-{str(row.Day).zfill(2)}"
    date = pd.to_datetime(date, format="%Y-%m-%d")
    climate_data.loc[date, "rainfall"] = row["Rainfall amount (millimetres)"]
    if i % 1000 == 0:
        print(f"{(i + 1) / (len(data3)) * 100: .1f}% of new rainfall data processed")
        
for i, row in data4.iterrows():
    date = f"{row.Year}-{str(row.Month).zfill(2)}-{str(row.Day).zfill(2)}"
    date = pd.to_datetime(date, format="%Y-%m-%d")
    climate_data.loc[date, "max_temp"] = row["Maximum temperature (Degree C)"]
    if i % 1000 == 0:
        print(f"{(i + 1) / (len(data4)) * 100: .1f}% of new temperature data processed")

climate_data.sort_index(ascending=True, inplace=True)
        
date_start = climate_data.index.min()
date_end =  climate_data.index.max()
one_year = pd.Timedelta(364, unit="days")
one_day = pd.Timedelta(1, unit="days")

clean_data = climate_data

rainfall_annual = []
temperature_annual = []

for i, date in enumerate(climate_data.index, start=1):    
    if date - one_year < date_start:
        range_start = date_start
        range_end = date_start + one_year
    else:
        range_start = date - one_year
        range_end = date
    
    if isNaN(climate_data.loc[date].max_temp):
        if date == range_end:
            imputed_temp = climate_data.loc[date - one_day].max_temp
        elif isNaN(climate_data.loc[date + one_day].max_temp):
            imputed_temp = climate_data.loc[date - one_day].max_temp
        else:
            imputed_temp = (climate_data.loc[date - one_day].max_temp + climate_data.loc[date + one_day].max_temp) / 2
        print(f"imputing missing temperature value for {date:%d %b %Y}: {imputed_temp}")
        clean_data.loc[date].max_temp = imputed_temp
    
    if isNaN(climate_data.loc[date].rainfall):
        if isNaN(climate_data.loc[date + one_day].rainfall):
            imputed_rainfall = climate_data.loc[date - one_day].rainfall
        else:
            imputed_rainfall = (climate_data.loc[date - one_day].rainfall + climate_data.loc[date + one_day].rainfall) / 2
        print(f"imputing missing rainfall value for {date:%d %b %Y}: {imputed_rainfall}")
        clean_data.loc[date].rainfall = imputed_rainfall

    filtered_data = clean_data.loc[(clean_data.index >= range_start) & (clean_data.index <= range_end)]
    
    rainfall_annual.append(filtered_data.rainfall.sum())
    temperature_annual.append(filtered_data.max_temp.mean())
    
    if i % 1000 == 0:
        print(f"{i / (len(climate_data)) * 100: .1f}% processed")

clean_data["rainfall_annual"] = rainfall_annual
clean_data["temp_annual"] = temperature_annual
clean_data.sort_index(ascending=True, inplace=True)
clean_data["rainfall_annual"] = clean_data["rainfall_annual"].round(1)
clean_data["temp_annual"] = clean_data["temp_annual"].round(1)
clean_data.to_csv("climate_data.csv", index_label="date")
clean_data

 3.8% of old rain data processed
 7.6% of old rain data processed
 11.5% of old rain data processed
 15.3% of old rain data processed
 19.1% of old rain data processed
 22.9% of old rain data processed
 26.7% of old rain data processed
 30.5% of old rain data processed
 34.4% of old rain data processed
 38.2% of old rain data processed
 42.0% of old rain data processed
 45.8% of old rain data processed
 49.6% of old rain data processed
 53.4% of old rain data processed
 57.3% of old rain data processed
 61.1% of old rain data processed
 64.9% of old rain data processed
 68.7% of old rain data processed
 72.5% of old rain data processed
 76.3% of old rain data processed
 80.2% of old rain data processed
 84.0% of old rain data processed
 87.8% of old rain data processed
 91.6% of old rain data processed
 95.4% of old rain data processed
 99.2% of old rain data processed
 3.8% of old temperature data processed
 7.6% of old temperature data processed
 11.5% of old temperature data processed
 15.3% of old temperature data processed
 19.1% of old temperature data processed
 22.9% of old temperature data processed
 26.7% of old temperature data processed
 30.6% of old temperature data processed
 34.4% of old temperature data processed
 38.2% of old temperature data processed
 42.0% of old temperature data processed
 45.8% of old temperature data processed
 49.6% of old temperature data processed
 53.5% of old temperature data processed
 57.3% of old temperature data processed
 61.1% of old temperature data processed
 64.9% of old temperature data processed
 68.7% of old temperature data processed
 72.6% of old temperature data processed
 76.4% of old temperature data processed
 80.2% of old temperature data processed
 84.0% of old temperature data processed
 87.8% of old temperature data processed
 91.6% of old temperature data processed
 95.5% of old temperature data processed
 99.3% of old temperature data processed
 22.4% of new rainfall data processed
 44.9% of new rainfall data processed
 67.3% of new rainfall data processed
 89.7% of new rainfall data processed
 22.4% of new temperature data processed
 44.8% of new temperature data processed
 67.2% of new temperature data processed
 89.5% of new temperature data processed
imputing missing temperature value for 05 Mar 1939: 24.8
imputing missing temperature value for 30 Jun 1940: 14.1
imputing missing temperature value for 30 Sep 1940: 10.2
imputing missing temperature value for 31 Dec 1940: 27.1
imputing missing temperature value for 30 May 1941: 13.2
imputing missing temperature value for 04 Jul 1941: 13.2
 3.3% processed
imputing missing temperature value for 27 Jan 1943: 32.2
imputing missing temperature value for 30 Apr 1943: 17.8
imputing missing temperature value for 17 Jun 1943: 9.1
imputing missing temperature value for 30 Sep 1943: 12.9
imputing missing temperature value for 31 Dec 1943: 27.2
 6.7% processed
 10.0% processed
imputing missing temperature value for 03 Sep 1947: 8.8
imputing missing temperature value for 25 Oct 1948: 21.8
 13.4% processed
imputing missing temperature value for 29 Dec 1950: 23.9
 16.7% processed
 20.1% processed
 23.4% processed
imputing missing temperature value for 18 Oct 1959: 15.7
 26.8% processed
 30.1% processed
 33.5% processed
 36.8% processed
 40.2% processed
imputing missing temperature value for 01 Feb 1972: 28.3
 43.5% processed
imputing missing temperature value for 06 Jul 1975: 8.6
imputing missing temperature value for 28 May 1977: 9.0
imputing missing temperature value for 28 Jun 1977: 8.5
 46.9% processed
 50.2% processed
 53.5% processed
 56.9% processed
 60.2% processed
 63.6% processed
 66.9% processed
 70.3% processed
 73.6% processed
 77.0% processed
 80.3% processed
 83.7% processed
 87.0% processed
imputing missing rainfall value for 21 Dec 2011: 9.200000000000001
 90.4% processed
imputing missing rainfall value for 21 Feb 2014: 16.6
imputing missing rainfall value for 11 May 2014: 0.0
imputing missing rainfall value for 02 Mar 2015: 0.0
imputing missing rainfall value for 03 Mar 2015: 0.0
imputing missing rainfall value for 12 Aug 2015: 2.0
imputing missing rainfall value for 26 Oct 2015: 0.0
 93.7% processed
imputing missing rainfall value for 09 Mar 2017: 0.0
imputing missing rainfall value for 01 Apr 2017: 3.8
imputing missing rainfall value for 28 Mar 2018: 0.0
 97.1% processed
imputing missing temperature value for 18 Dec 2020: 30.3

           max_temp rainfall  rainfall_annual  temp_annual
1939-03-01     23.8     20.1            596.1         19.3
1939-03-02     23.4        0            596.1         19.3
1939-03-03     23.1        0            596.1         19.3
1939-03-04       24        0            596.1         19.3
1939-03-05     24.8        0            596.1         19.3
...             ...      ...              ...          ...
2020-12-14       26        0            765.4         20.7
2020-12-15     27.7        0            765.4         20.7
2020-12-16     26.6        2            767.4         20.7
2020-12-17     30.3      3.8            771.2         20.7
2020-12-18     30.3      0.2            771.4         20.7

[29879 rows x 4 columns]

In [2]:
soi_data = pd.read_csv("soi_monthly.txt", header=None, names=["month", "soi"])
soi_data["month"] = pd.to_datetime(soi_data["month"], format="%Y%m")
soi_data.to_csv("soi_data.csv")
soi_data

          month   soi
0    1876-01-01  11.3
1    1876-02-01  11.0
2    1876-03-01   0.2
3    1876-04-01   9.4
4    1876-05-01   6.8
...         ...   ...
1735 2020-08-01   9.8
1736 2020-09-01  10.5
1737 2020-10-01   4.2
1738 2020-11-01   9.2
1739 2020-12-01  16.9

[1740 rows x 2 columns]